cache/*
output*
input/*
!cache/.gitkeep
!output/.gitkeep
!input/.gitkeep
.idea
src/Parsers/Icons/imgs*
src/Parsers/GE/icons*
.env
/public/bundles/
/var/
vendor/autoload.php
vendor/*
symfony.lock
bin/*
composer*
old *
PatchDayBatch.bat
