cache/*
output*
input/*
!cache/.gitkeep
!output/.gitkeep
!input/.gitkeep
.idea
src/Parsers/Icons/imgs*
src/Parsers/GE/icons*
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
###< symfony/framework-bundle ###
vendor/autoload.php
symfony.lock
symfony.lock
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/LICENSE
symfony.lock
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/LICENSE
symfony.lock
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_files.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/LICENSE
cache*
output*
input*